<h2>Liste des produits</h2>

<table>
    <tr>
        <th>Designation</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    {% for item in produits %}
        <tr>
            <td>{{item.designation}}</td>
            <td>{{item.price}}</td>
            <td><a href="/produit/delete/{{ item.id }}">Delete</a></td>
        </tr>
    {% endfor %}
</table>